.main {
    &__buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    &__login, &__register, &__send {
        background-color: $button;
        border: none;
        color: $white;
        font-weight: bold;
        padding: .5rem;
        border-radius: 5px;
        margin: 2rem;
        width: 40%;
        cursor: pointer;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    
        &:hover {
            background-color: $button-hover;
            transform: scale(1.1);
            transition: all 1s linear;
        }
    
        a {
            text-decoration: none;
        }
    }

    &__email, &__name, &__password, &__rptpassword {
        border: none;
        background-color: $light-gray;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
        text-align: center; 

        &::placeholder {
            color: $placeholder;
        }
    }

    &__password, &__rptpassword {
        background: $imagePassword;
        cursor: pointer;
    }
}