@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$background: #3772FF !default;
$white: #FFFF !default;
$button: #FC7071 !default;
$button-hover: #FF9D9E !default;
$footer: #36D6AD !default;
$company: #0A376F !default;
$colorText: #737380;
$light-gray: #F6F6F6 !default;
$placeholder: #BCBCBC !default;
$font: 'IBM Plex Sans', sans-serif !default;
$fontHome: 'Poppins', sans-serif;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $white;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: $button;
    border-radius: 30px;
    visibility: visible;
}       