$image: url('/assets/img/svg/header1.svg') no-repeat !default;
$imageResponsive: url('/assets/img/svg/header.svg') no-repeat !default;
$imageMainRegister: url('/assets/img/svg/forma2.svg') no-repeat left center;
$imageResponsiveRegister: url('/assets/img/svg/vetor2.svg') no-repeat right top;
$imageLineHeader: url('/assets/img/svg/vetor4.svg') no-repeat;
$imagePassword: $light-gray url('/assets/img/logos&icons/olho.png') no-repeat right center;