@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFF;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #FC7071;
  border-radius: 30px;
  visibility: visible;
}

.main__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__login, .main__register, .main__send {
  background-color: #FC7071;
  border: none;
  color: #FFFF;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 2rem;
  width: 40%;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.main__login:hover, .main__register:hover, .main__send:hover {
  background-color: #FF9D9E;
  transform: scale(1.1);
  transition: all 1s linear;
}
.main__login a, .main__register a, .main__send a {
  text-decoration: none;
}
.main__email, .main__name, .main__password, .main__rptpassword {
  border: none;
  background-color: #F6F6F6;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.main__email::placeholder, .main__name::placeholder, .main__password::placeholder, .main__rptpassword::placeholder {
  color: #BCBCBC;
}
.main__password, .main__rptpassword {
  background: #F6F6F6 url("/assets/img/logos&icons/olho.png") no-repeat right center;
  cursor: pointer;
}

.header__nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header__list-group {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.header__logo {
  display: none;
}
.header__list {
  z-index: 1;
}
.header__links {
  padding: 0 1rem;
}
.header__line {
  background: url("/assets/img/svg/vetor4.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 17rem;
  left: -0.5px;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 128px;
    display: block;
  }
}
.body {
  font-size: 16px;
  background: url("/assets/img/svg/header1.svg") no-repeat;
  background-color: #3772FF;
  height: 40rem;
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (min-width: 768px) {
  .body {
    background: url("/assets/img/svg/header.svg") no-repeat;
    background-color: #3772FF;
  }
}
.main {
  text-align: center;
  color: #FFFF;
}
.main__picture {
  margin-top: 3rem;
}
.main__title {
  font-weight: bold;
  font-size: 26px;
  margin-top: 2rem;
}
.main__text {
  padding: 1rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 2rem;
}
.main__welcome, .main__info_text {
  display: inline-block;
  width: 70%;
  color: #FFFF;
}

@media screen and (min-width: 768px) {
  .main__logo {
    margin-top: 2rem;
  }
  .main__welcome, .main__info_text {
    width: 27%;
  }
}
.footer {
  background: #36D6AD;
  color: #FFFF;
  padding: 2rem;
  margin-top: 2.5rem;
  position: absolute;
  width: calc(100% - 65px);
  line-height: 2;
}
.footer__text {
  text-align: center;
  letter-spacing: 1px;
}
.footer__name, .footer__company {
  color: #0A376F;
  font-weight: bold;
}
.footer__name a, .footer__company a {
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .footer {
    line-height: 70px;
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}

.main {
  color: #737380;
  height: 100%;
  background: url("/assets/img/svg/vetor2.svg") no-repeat right top;
}
.main__paragraph {
  padding: 1rem;
  width: 75%;
  display: inline-block;
}
.main__form {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: 312px;
}
.main label {
  display: contents;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {
  .main__paragraph {
    width: 60%;
  }
  .main__form {
    width: 344px;
  }
}
@media screen and (min-width: 1400px) {
  .main__paragraph {
    width: 30%;
  }
  .main__form {
    width: 552px;
  }
  .main__password, .main__rptpassword {
    width: 360px;
    align-self: center;
  }
  .main__register, .main__login {
    width: 362px;
  }
}
.main__retrieve {
  color: #FC7071;
  font-size: 12px;
  line-height: 24px;
}
.main__forgot a {
  color: #FC7071;
  font-size: 12px;
}
.main__register {
  margin: 1rem;
}

body {
  background: url("/assets/img/svg/header1.svg") no-repeat;
  background-color: #FFFF;
}

.header__user {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  z-index: 1;
}

.main {
  background: none;
}
.main__adoption {
  width: 55%;
  display: inline-block;
  color: #3772FF;
}
.main__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: "Poppins", sans-serif;
}
.main__infos {
  background-color: #F6F6F6;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0px 5px 10px -7px #000000;
}
.main__img {
  width: 150px;
  height: auto;
}
.main__animals {
  display: inline-block;
  vertical-align: top;
  padding: 0.5rem;
  line-height: 1.5;
  text-align: initial;
}
.main__name_animal {
  color: #3772FF;
  font-weight: bold;
}
.main__age, .main__city {
  padding-top: 1rem;
}
.main__contact {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.main__contact p {
  font-size: 11px;
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {
  body {
    background: url("/assets/img/svg/header.svg") no-repeat;
  }

  .main {
    margin-top: 6rem;
    margin-left: 1rem;
  }
  .main__container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background: url("/assets/img/svg/header.svg") no-repeat;
  }

  .main {
    background: url("/assets/img/svg/vetor2.svg") no-repeat right top;
    margin-top: 2rem;
  }
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
  }
}
.main {
  font-family: "Poppins", sans-serif;
  color: #3772FF;
}
.main__message {
  width: 65%;
  display: inline-block;
}
.main__rectangle {
  display: flex;
  width: calc(100% - 30px);
  margin-left: 1rem;
}
.main__content {
  background-color: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -7px #000000;
  padding: 1rem;
  margin: 1rem auto;
}
.main__form {
  text-align: left;
  padding-top: 1rem;
}
.main label {
  line-height: 3;
}
.main #nome, .main #phone, .main #animal, .main #msg, .main #city {
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  border: none;
}
.main #nome::placeholder, .main #phone::placeholder, .main #animal::placeholder, .main #msg::placeholder, .main #city::placeholder {
  color: #BCBCBC;
  padding: 1rem;
}
.main #msg {
  height: 172px;
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {
  body {
    background: url("/assets/img/svg/header.svg") no-repeat;
  }

  .main {
    background: url("/assets/img/svg/vetor2.svg") no-repeat right top;
  }
  .main__message {
    margin-top: 4rem;
  }
  .main__form {
    width: 492px;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background: url("/assets/img/svg/header.svg") no-repeat;
  }

  .main__message {
    width: 32%;
  }
}
.header__img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main__perfil {
  color: #737380;
  font-weight: bold;
  font-size: 21px;
}
.main__user {
  width: 90px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
}
.main__edit {
  font-size: 12px;
  padding-top: 0.5rem;
  text-align: center;
}
.main__edit a {
  color: #FC7071;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
