.footer {
    background: #36D6AD;
    color: #FFFF;
    padding: 2rem;
    margin-top: 2.5rem;
    position: absolute;
    width: calc(100% - 65px);
    line-height: 2;

    &__text {
        text-align: center;
        letter-spacing: 1px;
    }

    &__name, &__company {
        color: $company;
        font-weight: bold;
        
        a {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1400px) {
    .footer {
        line-height: 70px;
    }
}