.main {
    &__retrieve {
        color: $button;
        font-size: 12px;
        line-height: 24px;
    }

    &__forgot {
        a {
            color: $button;
            font-size: 12px;
        }
    }

    &__register {
        margin: 1rem;
    }
}