body {
    font-family: $font;
}

.main {
    color: $colorText;
    height: 100%;
    background: $imageResponsiveRegister;

    &__paragraph {
        padding: 1rem;
        width: 75%;
        display: inline-block;
    }

    &__form {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        width: 312px;
    }

    label {
        display: contents;
        font-weight: bold;
    }

    &__eye {
        position: absolute;
        margin: 4rem auto;
        width: 30px;
        align-self: end;
        cursor: pointer;
    }

    &__status, &__statusEqual {
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {

    .main {
        &__paragraph {
            width: 60%;
        }

        &__form {
            width: 344px;
        }
    }
}

@media screen and (min-width: 1400px) {

    .main {
        &__paragraph {  
            width: 30%;
        }

        &__form {
            width: 552px;
        }

        &__password, &__rptpassword {
            width: 360px;
            align-self: center;
        }

        &__eye {
            margin-left: -6rem;
        }
    }
}